opis_nacrt_dela/OpisInNacrt.aux
opis_nacrt_dela/OpisInNacrt.fdb_latexmk
opis_nacrt_dela/OpisInNacrt.fls
opis_nacrt_dela/OpisInNacrt.log
opis_nacrt_dela/OpisInNacrt.out
opis_nacrt_dela/OpisInNacrt.synctex.gz
